@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-color: #f7f0f5;
  --primary-color: #221f27;
  --secondary-color: #2b0b1e;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-color: #221f27;
    --primary-color: #f7f0f5;
    --secondary-color: #e8d33f;
  }
}

/* French grey: A4A5AE
Citrine E8D33F
Yinmn Blue 274c77
Magnolia f7f0f5
Dark purple 2b0b1e
Jet 333138 */

body {
  color: var(--primary-color);
  background: var(--background-color);
}

div {
  border-color: var(--secondary-color);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

ul.dropdown-list li:hover {
  background-color: #ff4d4d;
}

.pixelated-image {
  image-rendering: pixelated; /* Use the image-rendering CSS property to give the pixelated effect */
  filter: blur(
    200px
  ); /* Adjust the value as needed to control the pixelation effect */
}
