@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-color: #f7f0f5;
  --primary-color: #221f27;
  --secondary-color: #2b0b1e;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-color: #071f35ff;
    --primary-color: #cee5f2ff;
    --secondary-color: #f0c987ff;
    --danger-color: #ed254eff;
    --columbia-blue: #cee5f2ff;
    --red-crayola: #ed254eff;
    --sunset: #f0c987ff;
    --oxford-blue: #071f35ff;
  }
}

/* French grey: A4A5AE
Citrine E8D33F
Yinmn Blue 274c77
Magnolia f7f0f5
Dark purple 2b0b1e
Jet 333138 */

body {
  color: var(--primary-color);
  background: var(--background-color);

  font-size: 1.2rem;
}

Link {
  color: var(--secondary-color);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

ul.dropdown-list li:hover {
  background-color: #ff4d4d;
}

.bg-background {
  background-color: var(--background-color);
}

.h-140 {
  height: 35rem;
}
